---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';

export interface Props {
	title: string;
	description: string;
	image?: string;
}

const { title, description, image = '/social_img.png' } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.png" />
<meta name="generator" content={Astro.generator} />

  <!-- HTML Meta Tags -->
  <title>Amirah Amani</title>
  <meta name="description" content="Amirah Amani is a web developer working in X company based in Selangor,Malaysia.">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://amirahamani.vercel.app">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Amirah Amani">
  <meta property="og:description" content="Amirah Amani is a web developer working in X company based in Selangor,Malaysia.">
  <meta property="og:image" content="https://i.ibb.co/hHJJq7c/E286-E7-EB-A7-F5-4-B42-B48-B-E7-C886-C211-F5.png">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="amirahamani.vercel.app">
  <meta property="twitter:url" content="https://amirahamani.vercel.app">
  <meta name="twitter:title" content="Amirah Amani">
  <meta name="twitter:description" content="Amirah Amani is a web developer working in X company based in Selangor,Malaysia.">
  <meta name="twitter:image" content="https://i.ibb.co/hHJJq7c/E286-E7-EB-A7-F5-4-B42-B48-B-E7-C886-C211-F5.png">
    